async-lru==1.0.2
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
idna==2.10
lxml==4.6.1
pyaes==1.6.1
Pyrogram==1.0.7
PySocks==1.7.1
requests==2.24.0
soupsieve==2.0.1
TgCrypto==1.2.2
urllib3==1.25.11
